/**
 * Reset
 */
body {
  color: #000000;
}
.nav.navbar-nav li a {
  color: #000000;
}
.nav.navbar-nav li a:link {
  color: #000000;
}
.nav.navbar-nav li a:visited {
  color: #000000;
}
.nav.navbar-nav li a:hover {
  color: #000000;
}
.nav.navbar-nav li a:active {
  color: #000000;
}
/**
 * Navbar
 */
.nav.navbar-nav li a {
  margin: 0 10px;
}
.nav.navbar-nav li a:hover {
  color: #000000;
}
.navbar {
  background-color: #3fa95a;
  border-bottom: solid 2px #40ba5f;
  border-radius: 0;
  margin: -1px;
  text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
/**
 * Header
 */
header {
  margin-top: 100px;
}
