/*******
 * Reset
 */
html,
body {
  height: 100%;
}
body {
  color: #000000;
  background-color: #F2F2F2;
}
button {
  border: none;
}
.nav.navbar-nav li a {
  color: #000000;
}
.nav.navbar-nav li a:link {
  color: #000000;
}
.nav.navbar-nav li a:visited {
  color: #000000;
}
.nav.navbar-nav li a:hover {
  color: #000000;
}
.nav.navbar-nav li a:active {
  color: #000000;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:active {
  color: #000000;
  text-decoration: none;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0));
}
/********
 * Carousel
 */
/********
 * Header
 */
/******************
 * Salon Components
 */
/********
 * Footer
 */
/****************
 * Salon Carousel
 */
.salon-carousel {
  border-top: 1px solid #40ba5f;
}
.salon-carousel .carousel-caption h3 {
  font-weight: lighter;
  color: #ddd;
  letter-spacing: 1px;
}
.salon-carousel .carousel-control.left,
.salon-carousel .carousel-control.right {
  background-image: none;
}
.salon-carousel .carousel-indicators li {
  background-color: none;
  border: 1px solid #3fa95a;
  border-radius: 0;
  height: 8px;
  width: 8px;
  margin: 0 0.4em;
  z-index: -1;
}
.salon-carousel .carousel-indicators .active {
  background-color: #40ba5f;
  z-index: -1;
}
.salon-carousel .crop-slide-image {
  height: 350px;
  overflow: hidden;
  -webkit-box-shadow: inset 0px -11px 13px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px -11px 13px -6px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px -11px 13px -6px rgba(0, 0, 0, 0.7);
}
.salon-carousel .crop-slide-image img {
  height: 550px;
  margin-top: -100px;
  position: relative;
  z-index: -1;
}
/******************
 * Footer
 */
.sections-container {
  margin-bottom: 550px;
}
footer {
  background-color: #e2404b;
  border-top: 0.5em solid #ba4048;
  color: #DDDDDD;
  height: 400px;
  font-weight: 100;
  margin-top: -400px;
  text-align: center;
}
footer button {
  background-color: #ba4048;
  color: #EEEEEE;
  font-size: 1.6em;
  width: 300px;
  margin: 1em 0;
  padding: 0.6em 1.6em;
}
footer .copyright {
  font-size: 0.6em;
  background-color: #ba4048;
  bottom: 0;
  padding: 0.6em;
  margin: 0;
  margin-top: 140px;
}
footer p {
  margin-top: 1em;
}
/********
 * Header
 */
header {
  background-color: #FFFFFF;
  padding: 50px 0;
  margin-top: 10px;
  padding-top: 60px;
}
header h1 {
  font-family: 'Tangerine', Calibri, cursive;
  font-size: 6em;
  font-weight: bold;
  text-align: center;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/********
 * Navbar
 */
nav {
  background-color: #3fa95a;
  border-bottom: solid 2px #40ba5f;
  border-radius: 0;
  box-shadow: 0px 0px 4px rgba(40, 40, 40, 0.6);
  font-size: 1.2em;
  font-family: Calibri, Helvetica;
  font-weight: 100;
  padding: 0.6em;
  text-align: center;
  z-index: 10;
}
nav .brand {
  border-right: 1px solid #40ba5f;
  font-family: 'Tangerine', Calibri, cursive;
  left: 0;
  padding: 0 1.2em;
  position: absolute;
}
nav ul {
  list-style-type: none;
  margin: 0;
  margin-left: -10px;
  width: auto;
}
nav ul li {
  text-align: center;
  display: inline;
  margin: 0em 0.4em;
  padding: 0.9em 0.4em;
}
nav ul li a {
  color: #000000;
}
nav ul li a:hover {
  color: #000000;
  text-decoration: none;
}
nav ul li:hover {
  background-color: #40ba5f;
}
nav ul li:hover span {
  color: #FFFFFF;
}
nav ul li:last-child {
  margin-right: 2em;
}
nav ul span {
  color: #40ba5f;
  margin-right: 0.6em;
}
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
}
.headroom--unpinned {
  top: -100px;
}
.headroom--pinned {
  top: 0;
}
/**
 * 
 *  large display 
 * 
 * */
/* collapse position for navbar */
/**
 * 
 *  default portrait tablet to desktop 
 * 
 * */
/**
 * 
 * landscape phone portrait tablet 
 * 
 * */
/**
 * 
 *  landscape phone 
 * 
 * */
/******************
 * Salon Components
 */
.call-to-action-sm {
  font-size: 3em;
  font-weight: 200;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 {
  font-family: 'Tangerine', Calibri, cursive;
  font-size: 6em;
  font-weight: 500;
  margin-bottom: -1.6em;
  margin-top: 1em;
  position: relative;
  text-align: center;
}
.salon,
.services,
.stylists {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 1px #EEEEEE;
  -moz-box-shadow: 0 2px 1px #EEEEEE;
  -o-box-shadow: 0 2px 1px #EEEEEE;
  box-shadow: 0 2px 1px #EEEEEE;
  margin: 100px 20px;
  padding: 3em 1em;
}
.salon h2,
.services h2,
.stylists h2 {
  font-family: 'Tangerine', Calibri, cursive;
  font-size: 6em;
  font-weight: 500;
  margin-top: -30px;
  position: relative;
  text-align: center;
}
.salon {
  text-align: center;
}
.salon .le-parc-salon-mission {
  font-family: 'Tangerine', Calibri, cursive;
  font-size: 2.4em;
  font-weight: lighter;
  margin: 2em 0;
}
.salon .salon-phone-button {
  background-color: #00aaff;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 2.2em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 1em 0;
  padding: 0.4em 0.4em;
}
.salon .hours-of-operation {
  display: block;
  font-weight: 300;
  font-size: 2em;
  list-style-type: none;
  text-align: left;
  margin: 2em 0;
  margin-left: auto;
  margin-right: auto;
}
.salon .hours-of-operation div.row div:nth-child(2) {
  margin-left: 2em;
}
.salon .hours-of-operation .col-md-10 {
  font-family: 'Tangerine', Calibri, cursive;
  font-size: 1.2em;
  font-weight: 900;
}
.salon .address-container {
  background-color: #FEFEFE;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px 1px rgba(150, 150, 150, 0.7);
  -moz-box-shadow: 0px 4px 4px 1px rgba(150, 150, 150, 0.7);
  box-shadow: 0px 4px 4px 1px rgba(150, 150, 150, 0.7);
  cursor: pointer;
  font-size: 2.8em;
  font-weight: 200;
  height: 7.5em;
  padding: 0.2em;
  padding-top: 0.6em;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 7.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  z-index: 1;
}
.salon .address-container:hover {
  -webkit-box-shadow: 0px 6px 10px 1px rgba(150, 150, 150, 0.7);
  -moz-box-shadow: 0px 6px 10px 1px rgba(150, 150, 150, 0.7);
  box-shadow: 0px 6px 10px 1px rgba(150, 150, 150, 0.7);
}
.salon .map {
  border: 1px solid #DDDDDD;
  height: 500px;
  moverflow: hidden;
  width: inherit;
}
.services h6 {
  font-size: 1.2em;
  font-weight: bold;
}
.services table {
  font-weight: 200;
  margin-left: 1em;
}
.services table tr td:nth-child(2) {
  position: absolute;
  right: 4em;
}
.stylists h3 {
  font-size: 1.8em;
  margin: 1.4em;
  text-align: center;
}
.stylists .staff-picture {
  border-radius: 50%;
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  overflow: hidden;
  width: 150px;
}
/********
 * To Top Button
 */
.to-top-button button {
  background-color: transparent;
  border-radius: 5%;
  bottom: 0;
  border: 1px solid #cccccc;
  height: 60px;
  margin: 1.4em;
  opacity: 0.4;
  padding: 1em;
  position: fixed;
  right: 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 60px;
  z-index: 9;
}
.to-top-button button:hover {
  background-color: #333333;
  color: #DDDDDD;
  opacity: 0.8;
}
