/******************
 * Footer
 */

.sections-container {
    margin-bottom: @footer-height + 150px;   
}

footer {
    background-color: @brand-red;
    border-top: 0.5em solid @brand-red-accent;
    color: #DDDDDD;
    height: @footer-height;
    font-weight: 100;
    margin-top: -@footer-height;
    text-align: center;
    
    button {
        background-color: @brand-red-accent;
        color: #EEEEEE;
        font-size: 1.6em;
        width: 300px;
        margin: 1em 0;
        padding: 0.6em 1.6em;        
    }
    
    .copyright {
        font-size: 0.6em;
        background-color: @brand-red-accent;
        padding: 0.6em;
        margin: 0;
        margin-top: @footer-height - 305px;
    }
    
    p {
        margin-top: 1em;
    }
}
