/********
 * Header
 */
header {
    margin-top: @header-margin-top;    
    h1 {
        font-family: @brand-font;
        font-size: @brand-font-size;
        font-weight: bold;
        text-align: center;
    }
}