/********
 * Header
 */
@header-margin-top: 100px;
@brand-font-size: 46pt;

/******************
 * Salon Components
 */
@salon-components-h2-font-size: 36pt;
@salon-components-h2-font-weight: 590;
@salon-components-h2-margin-top: -30px;
@salon-components-margin-left-right: 20px;
@salon-components-margin-top-bottom: 100px;
// salon
@le-parc-salon-mission-font-size: 26pt;
// services
// stylists