/**
 * Navbar
 */
.nav.navbar-nav li a {
    margin: 0 10px;
    &:hover {
        color: #000000;
    }
}
.navbar {    
    background-color: @green-accent;
    border-bottom: solid 2px @green;
    border-radius: 0;
    margin: -1px;
    text-align: center;
    & .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }  
    & .navbar-collapse {
      text-align: center;
    }
} 
