/******************
 * Salon Components
 */

.call-to-action-sm {
    font-size: 3em;
    font-weight: 200;    
}

.salon, .services, .stylists {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 1px #EEEEEE;
    -moz-box-shadow: 0 2px 1px #EEEEEE;
    -o-box-shadow: 0 2px 1px #EEEEEE;
    box-shadow: 0 2px 1px #EEEEEE;
    
    h2 {
        font-family: @brand-font;
        font-size: 6em;
        font-weight: 500;        
        margin-top: -30px;
        position: relative;
        text-align: center;
    }
    
    margin: @salon-components-margin-top-bottom @salon-components-margin-left-right;
    padding: 3em;
}

.salon {
    text-align: center;
    
    .le-parc-salon-mission {
        font-family: @brand-font;
        font-size: @le-parc-salon-mission-font-size;
        font-weight: lighter;
        margin: 2em 0;
    }    
    
    .salon-phone-button {
        background-color: @brand-blue;
        border: none;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 3em;
        font-weight: 100;
        margin: 2em 0;
        padding: 0.4em 0.8em;
    }
    .hours-of-operation {
        font-weight: 300;
        font-size: 2em;
        list-style-type: none;
        text-align: left;
        span {
            text-align: right !important;
        }
    }
}

.services {
     
}

.stylists {
     
}