.salon, .services, .stylists {
    h2 {
        font-family: @brand-font;
        font-size: 36pt;
    }
}

.salon {
    .statment-or-purpose {
        font-family: @brand-font;
    }    
}

.services {
     
}

.stylists {
     
}

