/********
 * To Top Button
 */
.to-top-button {
    button {
        background-color: transparent;
        border-radius: 5%;
        bottom: 0;
        background-color: @brand-green;
        border: 1px solid @brand-green-accent;
        height: 70px;
        margin: 1.6em;
        opacity: 0.8;
        padding: 1.4em;
        position: fixed;
        right: 0;
        text-align: center;
        width: 70px;
        z-index: 9;
        &:focus {
            border: none;
        }
    }
}