<h2>Stylists</h2>
<div id="stylists" class="stylists">
    <img src="images/staff/staffF.png" alt="tina payton" class="staff-picture">
    <h3>Tina Payton</h3>
    <p>
        Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder
        text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder
        text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder
        text Placeholder text Placeholder text Placeholder text.
    </p>
    <img src="images/staff/staffM.png" alt="jimmy stokes" class="staff-picture">
    <h3>Jimmy Stokes</h3>
    <p>
        Jimmy Stokes is a licensed, versatile hairdresser who carries nearly 40 years of experience behind the chair. He co-owned
        and operated Hair Stop Family Haircutters in Gentilly for 29 years. Jimmy specializes in all aspects of modern hairdressing
        including precision hair cuts, color, highlights, clipper cutting, relaxers, permanent waves, and waxing for all
        ethnicities.
    </p>
</div>
