<!-- slider cta -->
<div class="salon-carousel-cta">
    <p>Scroll down for more</p>
    <span class="glyphicon glyphicon-menu-down"></span>
</div>
<!-- end slider cta -->

<!-- Jssor Slider Begin -->
<div class="carousel-header">
    Swipe to Explore our Gallery
</div>
<div id="slider1_container" style="position: relative; margin: 0 auto;
                top: 0px; left: 0px; width: 1300px; height: 1160px; overflow: hidden;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px;
                    height: 1200px; overflow: hidden;">
        <div>
            <img u="image" src="images/slide-show/karatin2.jpg" />
            <div class="jssor-caption-header">Image Description
            </div>
            <div class="jssor-caption">
                Build your slider with anything, includes image, content, text, html, photo, picture
            </div>
        </div>
        <div>
            <img u="image" src="images/slide-show/karatin3.jpg" />
            <div class="jssor-caption-header">Image Description
            </div>
            <div class="jssor-caption">
                Build your slider with anything, includes image, content, text, html, photo, picture
            </div>
        </div>
        <div>
            <img u="image" src="images/slide-show/owner-chair.jpg" />
            <div class="jssor-caption-header">Image Description
            </div>
            <div class="jssor-caption">
                Build your slider with anything, includes image, content, text, html, photo, picture
            </div>
        </div>
        <div>
            <img u="image" src="images/slide-show/staff-chair.jpg" />
            <div class="jssor-caption-header">Image Description
            </div>
            <div class="jssor-caption">
                Build your slider with anything, includes image, content, text, html, photo, picture
            </div>
        </div>
        <div>
            <img u="image" src="images/slide-show/dryer.jpg" />
            <div class="jssor-caption-header">Image Description
            </div>
            <div class="jssor-caption">
                Build your slider with anything, includes image, content, text, html, photo, picture
            </div>
        </div>
        <div>
            <img u="image" src="images/slide-show/entrance.jpg" />
            <div class="jssor-caption-header">Image Description
            </div>
            <div class="jssor-caption">
                Build your slider with anything, includes image, content, text, html, photo, picture
            </div>
        </div>
    </div>
    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype"></div>
    </div>
    <!--#endregion Bullet Navigator Skin End -->
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
                </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
                </span>
    <!--#endregion Arrow Navigator Skin End -->
</div>
<!-- Jssor Slider End -->
