<h2>Services</h2>
<div id="services" class="services">
    <div class="hair-services">
        <h6>Hair Services</h6>
        <table>
            <tr>
                <td>Shampoo and Set</td>
                <td>$35</td>
            </tr>
            <tr>
                <td>Blowedry and Style</td>
                <td>$35</td>
            </tr>
            <tr>
                <td>Flat Iron</td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Deep Condition</td>
                <td>$13</td>
            </tr>
            <tr>
                <td>Dandriff Treatment</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Up-Do</td>
                <td>$50</td>
            </tr>
            <tr>
                <td>Bridal Style</td>
                <td>$65 - $75</td>
            </tr>
            <tr>
                <td>Keratin Express Treatment</td>
                <td>$125 - $150</td>
            </tr>
            <tr>
                <td>Keratherapy Treatment</td>
                <td>$250</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="hair-cuts">
        <h6>Hair Cuts</h6>
        <table>
            <tr>
                <td>Women</td>
                <td>$48</td>
            </tr>
            <tr>
                <td>Men</td>
                <td>$25</td>
            </tr>
            <tr>
                <td>Young Adults</td>
                <td>$25</td>
            </tr>
            <tr>
                <td>Kids(Under 10)</td>
                <td>$20</td>
            </tr>
            <tr>
                <td>Ends Trim</td>
                <td>$15</td>
            </tr>
            <tr>
                <td>Bang Trim</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Mustache Trim</td>
                <td>$8</td>
            </tr>
            <tr>
                <td>Beard Trim</td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Nape Trim</td>
                <td>$10</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="color-services">
        <h6>Color Services</h6>
        <table>
            <tr>
                <td>Permanent Re-Tocuh</td>
                <td>$65 - $75</td>
            </tr>
            <tr>
                <td>Semi-Permanent</td>
                <td>$60</td>
            </tr>
            <tr>
                <td>Full Highlights</td>
                <td>$95 - $100</td>
            </tr>
            <tr>
                <td>Partial Highlights</td>
                <td>$60 - $75</td>
            </tr>
            <tr>
                <td>Men's Hair Color</td>
                <td>$25</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="chemical-services">
        <h6>Chemical Services</h6>
        <table>
            <tr>
                <td>Relaxer</td>
                <td>$75 - $95</td>
            </tr>
            <tr>
                <td>Virgin Relaxer</td>
                <td>$100 - $125</td>
            </tr>
            <tr>
                <td>Partial Relaxer</td>
                <td>$30</td>
            </tr>
            <tr>
                <td>Men's Relaxer</td>
                <td>$30</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="permanent-wave">
        <h6>Permanent Wave</h6>
        <table>
            <tr>
                <td>Full</td>
                <td>$80</td>
            </tr>
            <tr>
                <td>Partial</td>
                <td>$65</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="waxing-services">
        <h6>Waxing Services</h6>
        <table>
            <tr>
                <td>Eyebrow</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Lip</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Chin</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Ear</td>
                <td>$12</td>
            </tr>
        </table>
    </div>
</div>