/********
 * Carousel
 */
$salon-carousel-sm: 350px;

/********
 * Header
 */
$brand-font-size: 6em;

/******************
 * Salon Components
 */
$salon-components-margin-left-right: 20px;
$salon-components-margin-top-bottom: 100px;
// salon
$le-parc-salon-mission-font-size: 2.4em;
// services
// stylists

/********
 * Footer
 */
$footer-height: 400px;
