/*******
 * Reset
 */
html, body{
    height: 100%
}
body {
    color: #000000;
    background-color: #F2F2F2;
}
button {
    border: none;
}        
.nav.navbar-nav li a { // for nav text
    color: #000000;
    &:link {
        color: #000000;
    }

    &:visited {
        color: #000000;
    }
    &:hover {
        color: #000000;
    }
    &:active {
        color: #000000;
    }
}

a {
    color: #000000;
    text-decoration: none;
    &:hover {
        color: #000000;
        text-decoration: none;
    }
    &:link {
        color: #000000;
        text-decoration: none;
    }
    &:visited {
        color: #000000;
        text-decoration: none;
    }
    &:hover {
        color: #000000;
        text-decoration: none;
    }
    &:active {
        color: #000000;
        text-decoration: none;
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0));
}
