
/*Default Style for My Ste*/
/********************* Color reference chart****************
*************************** comment ********* color ******** 

box background color       bbg              #567890
box border color           bb               #abcdef
box text color             bt               #123456 
*/
/*------------------ Classes ------------------*/
.banner{
	position: absolute;
	left: 40px;
	top: 0px;
	z-index: 10;
}
.profilePicBorder{
	border-width: 2px;
	border-color: black;
}

/*------------------ For the Tags ------------------*/
body{
	background: url("./Images/background.png") no-repeat;
}

h1{
	font-family: arial;
	/*color: rgb(255,255,255);*/
	text-align: left;
	/*text-shadow: -17px 0 black, 0 17px black, 17px 0 black, 0 -17px black;*/
	text-shadow: 0 0 2px #000;
}
p1{ 
	font-family: arial;
	/*color: rgb(255,255,255);*/
	text-shadow: 0 0 50px #000;
	padding-left: 200px;
}

h2{
	font-family: arial;
	position: absolute;
	left: 3px;
	top: 480px;
	color: rgb(0,0,0);
	text-align: left;
	text-shadow: 0 0 1px #999;
	/*text-decoration: underline;*/
}
p2{ 
	font-family: arial;
	position: absolute;
	left: 20px; 
	top: 540px;
	color: rgb(0,0,0);
	text-shadow: 0 0 1px #999;
}