<div id="salon" class="salon">
    <p id="le-parc-salon-mission" class="le-parc-salon-mission">
        At Le Parc Salon, we believe everyone is entitled to look good and feel good. Come and get the experience of a lifetime in
        a warm and friendly enviorment.
    </p>
    <hr>
    <p class="call-to-action-sm">Tap and Call</p>
    <a href="tel:+5043094376">
        <button class="salon-phone-button">(504) 309-4376 <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></button>
    </a>
    <hr>
    <p class="call-to-action-sm">Hours of Operation</p>
    <div class="container-fluid hours-of-operation">
        <div class="row">
            <div class="col-md-10">Tuesday</div>
            <div class="col-md-2">8:30am - 1pm</div>
        </div>
        <div class="row">
            <div class="col-md-10">Wednesday - Friday</div>
            <div class="col-md-2">8:30am - 6pm</div>
        </div>
        <div class="row">
            <div class="col-md-10">Saturday</div>
            <div class="col-md-2">8:00am - 6pm</div>
        </div>
        <div class="row">
            <div class="col-md-10">Sunday, Monday</div>
            <div class="col-md-2">closed</div>
        </div>
    </div>
    <div class="address-container unselectable">
        <a href="">
            <p>903 North Carrollton Avenue, New Orleans, LA</p>
        </a>
    </div>
    <div id="salon-map" class="map"></div>
</div>
