// _carousel.scss

$salon-carousel-sm: 350px;

$brand-font-size: 6em;

$salon-components-margin-left-right: 20px;
$salon-components-margin-top-bottom: 100px;

$le-parc-salon-mission-font-size: 2.4em;

$footer-height: 400px;
